# API (apps/api)
PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://dvinternal_db_user:AyyDv3VXaXiZzGQ7@jodoadmin.cc8vtnj.mongodb.net/jodo_commerce?appName=jodoadmin

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-token-key-change-in-prod
JWT_REFRESH_SECRET=your-super-secret-refresh-token-key-change-in-prod
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Admin Panel (apps/admin)
NEXT_PUBLIC_API_URL=http://localhost:4000
